body {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*https://www.designer-daily.com/10-fonts-that-are-safe-to-use-with-css-34474*/
    font-family: Tahoma, Verdana, Segoe, sans-serif;
}

.title {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 2rem;
}

.input-section {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.input-container {
    display: flex;
    flex-direction: column;
    margin-right: 2rem;
}

label {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

input {
    height: 2.5rem;
    border: none;
    border-radius: 0.3rem;
    font-size: 1.2rem;
    padding: 0.5rem;
    margin-bottom: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#makeRequest {
    display: inline-block;
    margin-left: 2rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.3rem;
    background-color: #007bff;
    color: #fff;
    font-size: 1.2rem;
    text-decoration: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
}

#makeRequest:hover {
    background-color: #0069d9;
}
